
body {
    background-color:powderblue;
}

h1 {
    color: #81579b;
}

h3 {
    color: #81579b;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(16, 4, 4);
    border-width: 5px;
    width: 5%;
}
